.ddg_filterbubble_box {
    width: 18px !important;
    height: 18px !important;
    float: left;
    margin-right: 5px;
    font-family: 'Helvetica Regular' !important;
    font-size: 7pt;
    line-height: 18px;
}

.ddg_filterbubble_box_move {
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/button-1-bg.png');
}

.ddg_filterbubble_box_change {
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/button-2-bg.png');
}

.ddg_filterbubble_box_added {
    background: url('chrome-extension://__MSG_@@extension_id__/img/icon-inserted_normal.png');
}

.ddg_filterbubble_box_removed {
    background: url('chrome-extension://__MSG_@@extension_id__/img/icon-removed_normal.png');
}

.ddg_filterbubble_box_move-up {
    background: url('chrome-extension://__MSG_@@extension_id__/img/arrow-up_normal.png');
}

.ddg_filterbubble_box_move-down {
    background: url('chrome-extension://__MSG_@@extension_id__/img/arrow-down_normal.png');
}

.ddg_filterbubble_active {
    background-color: #e64d14;
}

